html {
  line-height: 1.45;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

header {
  height: 830px;
  padding-bottom: 40px;
}

.heroContainer {
  display: flex;
  width: 100;
  justify-content: center;
  padding-top: 120px;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 958px;
  height: 340px;
  background-color: rgba(34, 34, 34, 0.5);
}
.heroText h1 {
  font-family: "Lato", sans-serif;
  color: #E8E6E6;
  margin: 0;
  padding: 0;
  font-size: 6rem;
}
.heroText p {
  font-size: 4rem;
  color: #E8E6E6;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #3d32ce;
  padding: 0 8px;
}

.navItems {
  position: relative;
}
.navItems li {
  position: absolute;
  transition: 0.5s;
  left: 50px;
  top: -8px;
  margin: 0;
  padding: 0;
}
.navItems li a {
  color: #2c2c2c;
  font-size: 0.5px;
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.navItems.show {
  position: relative;
}
.navItems.show li.one {
  transition: 0.8s;
  left: -374px;
  top: -16px;
}
.navItems.show li.one a {
  color: #3d32ce;
  font-size: 30px;
  transition: 0.8s;
}
.navItems.show li.two {
  transition: 0.8s;
  left: -248px;
  top: -16px;
}
.navItems.show li.two a {
  color: #3d32ce;
  font-size: 30px;
  transition: 0.8s;
}
.navItems.show li.three {
  transition: 0.8s;
  left: -82px;
  top: -16px;
}
.navItems.show li.three a {
  color: #3d32ce;
  font-size: 30px;
  transition: 0.8s;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar h2 {
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  color: #3d32ce;
  font-weight: bold;
  margin: 10px 0;
}

.menuButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menuButtonBurger {
  width: 28px;
  height: 6px;
  background: #3d32ce;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 6px;
  background: #3d32ce;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menuButtonBurger::before {
  transform: translateY(-12px);
}

.menuButtonBurger::after {
  transform: translateY(12px);
}

.menuButton.open .menuButtonBurger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menuButton.open .menuButtonBurger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menuButton.open .menuButtonBurger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

header {
  background-image: url(./Assets/hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-color: #161712;
}

.about {
  display: flex;
  background: #161712;
  padding: 120px 0 120px 0px;
}
.about .aboutText {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}
.about .aboutText h3 {
  font-family: "Montserrat", sans-serif;
  color: #3d32ce;
  font-size: 40px;
  margin: 0;
}
.about .aboutText h3 .fas {
  color: #E8E6E6;
  padding: 0 14px;
}
.about .aboutText p {
  font-family: "Lora", serif;
  color: #E8E6E6;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: bold;
  margin: 0;
  padding: 19px 24px 8px 54px;
}
.about .aboutPic {
  display: flex;
}
.about .aboutPic img {
  box-shadow: #3d32ce 0 18px;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 300px;
  height: 300px;
  margin-right: 40px;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: #222;
}
.projects .projectContainer {
  display: flex;
  justify-content: center;
}
.projects .projectContainer div {
  max-width: 390px;
  min-width: 390px;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  text-align: center;
}
.projects .projectContainer div:hover {
  transform: translateY(-10px);
  border-radius: 4%;
}
.projects .projectContainer h4 {
  font-family: "Lato", sans-serif;
  font-size: 34px;
  text-align: center;
  padding: 0 12px;
}
.projects .projectContainer h4 a {
  text-decoration: none;
  color: #3d32ce;
}
.projects .projectContainer img {
  border-radius: 4%;
  min-height: 140px;
  max-height: 140px;
  min-width: 190px;
  max-width: 190px;
}
.projects .projectContainer p {
  font-family: "Lora", serif;
  color: #E8E6E6;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: bold;
  padding: 18px 50px;
}
.projects h3 {
  font-family: "Montserrat", sans-serif;
  color: #3d32ce;
  font-size: 40px;
}
.projects h3 .fas {
  color: #E8E6E6;
  padding: 0 12px;
}

.skills {
  padding: 2px 0;
}

.skillHead h3 {
  font-family: "Montserrat", sans-serif;
  color: #3d32ce;
  font-size: 40px;
}
.skillHead h3 .fas {
  color: #E8E6E6;
  padding: 0 12px;
}

.skillBox {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.skillBox .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c2c2c;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.skillBox .icon:hover {
  border: 3px #3d32ce solid;
}
.skillBox .icon i {
  color: #3d32ce;
  font-size: 80px;
}

div.icon.iconOdd i {
  font-size: 66px;
}

.form {
  margin: 90px 0 30px 0;
  font-size: 20px;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.form form input {
  width: 50%;
  margin-bottom: 18px;
  background-color: #161712;
  color: #E8E6E6;
  border: 3px #E8E6E6 solid;
  border-radius: 25px;
  padding: 4px 4px 4px 22px;
  letter-spacing: 1.25px;
}
.form form input#email {
  margin-bottom: 32px;
  color: #E8E6E6;
}
.form form textArea {
  width: 60%;
  resize: none;
  background-color: #161712;
  border: 3px #E8E6E6 solid;
  border-radius: 25px;
  letter-spacing: 1.25px;
  padding: 10px 0 0 24px;
  color: #E8E6E6;
}

.nameAndEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.nameAndEmail input {
  width: 100%;
}

input#submit {
  margin: 22px 0;
  padding: 4px 12px;
  font-size: 22px;
  cursor: pointer;
}
input#submit:hover {
  cursor: pointer;
}

button {
  display: inline-block;
  padding: 4px 18px;
  margin: 22px 0 0 0;
  border: 3px solid #E8E6E6;
  border-radius: 25px;
  box-sizing: border-box;
  text-decoration: none;
  background: #161712;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #E8E6E6;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  background: #2c2c2c;
}

.contact {
  padding: 48px 0 72px 0;
  display: flex;
  justify-content: space-around;
}
.contact div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact div a {
  color: #E8E6E6;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
}
.contact div a i {
  color: #E8E6E6;
  font-size: 40px;
  padding: 0 18px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #222;
}
footer p {
  font-family: "Lora", serif;
  color: #E8E6E6;
  font-weight: bold;
  letter-spacing: 1.15px;
}

@media (max-width: 992px) {
  header .mainTitle h1 {
    font-size: 5rem;
  }
  header .mainTitle p {
    font-size: 3rem;
  }

  .about .aboutPic {
    align-items: center;
  }
  .about .aboutPic img {
    width: 268px;
    height: 268px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: #3d32ce 0 18px;
  }

  .projects .projectContainer div {
    min-width: 324px;
  }

  .navItems.show {
    position: relative;
  }
  .navItems.show li.one {
    transition: 0.8s;
    left: 0px;
    top: 160px;
  }
  .navItems.show li.one a {
    color: #3d32ce;
    font-size: 30px;
    transition: 0.8s;
  }
  .navItems.show li.two {
    transition: 0.8s;
    left: -36px;
    top: 106px;
  }
  .navItems.show li.two a {
    color: #3d32ce;
    font-size: 30px;
    transition: 0.8s;
  }
  .navItems.show li.three {
    transition: 0.8s;
    left: 0px;
    top: 52px;
  }
  .navItems.show li.three a {
    color: #3d32ce;
    font-size: 30px;
    transition: 0.8s;
  }

  .projects .projectContainer {
    display: flex;
    flex-direction: column;
  }
  .projects .projectContainer div {
    max-width: none;
  }
  .projects .projectContainer div:hover {
    border: #3d32ce solid 2px;
    transform: none;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact a {
    padding: 10px 0;
  }

  .form form input#email, .form form input#fName {
    width: 70%;
  }
  .form form textArea {
    width: 78%;
  }
}
@media (max-width: 768px) {
  header .mainTitle h1 {
    font-size: 4rem;
    padding-bottom: 16px;
  }
  header .mainTitle p {
    font-size: 3rem;
  }

  .about .aboutPic img {
    display: none;
  }

  .skillBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80vw;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  header .mainTitle {
    margin-top: 35%;
    justify-content: center;
  }
  header .mainTitle h1 {
    font-size: 2.6rem;
    padding-bottom: 16px;
  }
  header .mainTitle p {
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
  }

  .navBar {
    padding: 0 24px;
  }

  .form form input#email, .form form input#fName {
    width: 90%;
  }
  .form form textArea {
    width: 90%;
  }
}
@media (max-width: 560px) {
  .heroText {
    justify-content: center;
    padding-right: 22px;
  }
  .heroText h1 {
    font-size: 2rem;
    padding-bottom: 0;
  }
  .heroText p {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
  }

  .form form div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form form input#email, .form form input#fName {
    width: 110%;
  }
  .form form textArea {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .heroText {
    margin-top: calc(70% - 242px);
  }
  .heroText h1 {
    font-size: 2.2rem;
  }
  .heroText p {
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */