html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* 
TYPOGRAPHY AND
PROGENITOR PROPERTIES
*/
.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}

.backContainer {
  position: relative;
}
.lowerBackContainer{
  position: relative;
}
.backStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.backStyle1 {
  left: calc(50% - 25vw);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 80vh solid #fff;
  z-index: -2;
}

.backStyle2{
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 120vh solid #000;
  z-index: -3;
}
.backStyle3{
  border-left: 60vw solid transparent;
  border-right: 60vw solid transparent;
  border-top: 220vh solid #c10206;
  z-index: -4;
}
.backStyle4{
  border-left: 60vw solid transparent;
  border-right: 60vw solid transparent;
  border-top: 60vh solid #dfe2db;
  z-index: -4;
}
.backStyle5{
  border-left: 90vw solid transparent;
  border-right: 40vw solid transparent;
  border-top: 180vh solid #211d21;
  z-index: -5;
}
.backStyle6{
  border-left: 20vw solid transparent;
  border-right: 220vw solid transparent;
  border-top: 240vh solid #dfe2db;
  z-index: -6;
}
.lowBackStyle {
  position: absolute;
}
.lowBackStyle1 {
  right: 0;
  position: absolute;
  border-top: 500px solid transparent;
  border-right: 1000px solid red;
  border-bottom: 500px solid transparent;
  z-index: -1;
}
.lowBackStyle2 {
  right: 0;
  top: -20vh;
  position: absolute;
  border-top: 364px solid transparent;
  border-right: 1283px solid hotpink;
  border-bottom: 319px solid transparent;
  z-index: -2;
}

/*
HEADER TEXT
*/

.heroContainer {
  display: flex;
  width: 100;
  justify-content: center;
  padding-top: 120px;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000
}
.heroText h1 {
  font-family: sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-family: 'Rubik Mono One', sans-serif;
  padding: 16px 44px;
}
.heroText p {
  font-size: 4.2rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 4px 0 20px 0;
  letter-spacing: 2.8px;
}

/* 
NAVIGATION
SECTION
*/


nav {
  display: flex;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  padding: 0 8px;
}
.navItems {
  position: relative;
}
.navItems li {
  position: absolute;
  transition: 0.5s;
  left: 50px;
  top: -8px;
  margin: 0;
  padding: 0;
  background-color: #000;
  padding: 6px 8px;
}
.navItems li a {
  font-size: 0.5px;
  transition: 0.5s;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
.navItems.show {
  position: relative;
}
.navItems.show li.one {
  transition: 0.8s;
  left: -374px;
  top: -16px;
}
.navItems.show li.one a {
  font-size: 30px;
  transition: 0.8s;
}
.navItems.show li.two {
  transition: 0.8s;
  left: -248px;
  top: 56px;
}
.navItems.show li.two a {
  font-size: 30px;
  transition: 0.8s;
}
.navItems.show li.three {
  transition: 0.8s;
  left: -82px;
  top: 124px;
}
.navItems.show li.three a {
  font-size: 30px;
  transition: 0.8s;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.navBar h2 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 46px;
  background-color: #000;
  width: 20%;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 120px
}
nav{
  background-color: #000;
  width: 20%;
  height: 60px;
  align-content: center;
}

.menuButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  align-self: center;
}
.menuButtonBurger {
  background-color: #fff;
  width: 28px;
  height: 6px;
  transition: all 0.4s ease-in-out;
}
.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 6px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}
.menuButtonBurger::before {
  transform: translateY(-12px);
}
.menuButtonBurger::after {
  transform: translateY(12px);
}
.menuButton.open .menuButtonBurger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menuButton.open .menuButtonBurger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menuButton.open .menuButtonBurger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*
ABOUT SECTION
*/

.about {
  display: flex;
  padding: 120px 0 120px 0px;
}
.about .aboutText {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 22px;
}
.about .aboutText h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #fff;
  padding-top: 40px;
  padding-right: 22px;
}
.about .aboutText p {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.about .aboutPic {
  display: flex;
}
.about .aboutPic img {
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 300px;
  height: 300px;
  margin-right: 40px;
}

/*
PROJECTS
SECTION
*/

.projTitle {
  text-align: center;
}
.projTitle h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 20px 0;
  margin: 30px 0; 
  color: #fff;
  background-color: #000;
}
.projects {
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
  margin: 0;
}

.singleProj {
  background-image:
    linear-gradient(
      to left, 
      #000,
      #000 15%,
      #000 15%,
      #000 90%,
      transparent 90%
    );
    padding: 18px 0;
    padding-left: 5%;
    margin-bottom: 24px;
}
.singleProj h4 a{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
}
.singleProj2 {
  background-image:
    linear-gradient(
      to right, 
      #000,
      #000 15%,
      #000 15%,
      #000 90%,
      transparent 90%
    );
    padding: 18px 0;
    padding-left: 5%;
    margin-bottom: 24px;
}
.singleProj2 h4 a{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
}

.oneProj {
  display: flex;
  color: #fff;
  display: flex;
}
.oneProj a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  text-decoration: none;
}
.projText {
  display: flex;
}
.projText h4 {
  font-family: sans-serif;
  margin: 20px 0;
}
.projText p {
  font-size: 1.6rem;
  letter-spacing: 1.2px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 40px;
  text-align: center;
  letter-spacing: 1.1px;
}

i.fa-utensils {
  padding-right: 74px;
}

/*
SKILLS
SECTION
*/

.skills {
  margin-top: 84px;
}

.skillHead h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
  text-align: center;
}
.skillBox {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.skillBox .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  padding: 18px 12px 8px 12px;
  height: 180px;
  width: 120px;
}
.skillBox .icon i {
  color: #fff;
  font-size: 80px;
}
div.icon.iconOdd i {
  font-size: 66px;
}
.icon p {
  color: #fff;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.2rem;
}

/* 
FORM
SECTION
*/

.formBG {
  background-image:
  linear-gradient(
    to right, 
    #000,
    #000 15%,
    #000 15%,
    #000 90%,
    transparent 90%
  );
}

.form {
  margin: 90px 0 30px 0;
  font-size: 20px;
}
.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.form form input {
  width: 45%;
  margin-bottom: 18px;
  color: #000;
  padding: 4px 4px 4px 22px;
  letter-spacing: 1.25px;
  background-color: #fff;
  border-style: none;
}
.form form input#email {
  margin-bottom: 32px;
  color: #000;
}
.form form textArea {
  width: 50%;
  resize: none;
  letter-spacing: 1.25px;
  padding: 10px 0 0 24px;
  color: #000;
  background-color: #fff;
  border-style: none;
}
.nameAndEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding-top: 42px;
}
.nameAndEmail input {
  width: 100%;
  background-color: #fff;
}
input#submit {
  margin: 22px 0;
  padding: 4px 12px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 0;
  background-color: #fff;
}
input#submit:hover {
  cursor: pointer;
}
button {
  background-color: #fff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.2rem;
  margin: 18px 0;
  cursor: pointer;
}
.contact {
  display: flex;
  justify-content: space-evenly;
    background-image:
  linear-gradient(
    to left, 
    #000,
    #000 15%,
    #000 15%,
    #000 90%,
    transparent 90%
  );
  margin-bottom: 22px;
}
.contact div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}
.contact div a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
}
.contact div a i {
  font-size: 4rem;
  padding: 0 18px;
  color: #fff;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #000;
}
footer p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1.15px;
  line-height: 2rem;
  text-align: center;
}

/* 
BREAKPOINTS
*/

@media (max-width: 992px) {
  .navBar H2 {
    padding-right: 48px;
  }
  .fa-utensils {
    padding-right: 44px;
  }
}


@media (max-width: 768px) {
  header .mainTitle h1 {
    font-size: 4rem;
    padding-bottom: 16px;
  }
  header .mainTitle p {
    font-size: 3rem;
  }

  .about .aboutPic img {
    display: none;
  }

  .skillBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80vw;
    flex-wrap: wrap;
  }
  .formBG {
    background-image:
    linear-gradient(
      to right, 
      #000,
      #000 15%,
      #000 15%,
      #000 90%,
      transparent 90%
    );
  }
  header .mainTitle {
    margin-top: 35%;
    justify-content: center;
  }
  header .mainTitle h1 {
    font-size: 40px;
    padding-bottom: 16px;
  }
  header .mainTitle p {
    font-size: 2.4rem;
    margin: 0;
    padding: 0;
  }
  .navBar {
    padding: 0 24px;
  }
  .formBG {
    background-color: #000;
  }
  .form form input#email, .form form input#fName {
    width: 90%;
  }
  .form form textArea {
    width: 80%;
  }
  .navItems.show li.one {
    transition: 0.8s;
    left: -150px;
    top: -16px;
  }
  .navItems.show li.one a {
    font-size: 30px;
    transition: 0.8s;
  }
  .navItems.show li.two {
    transition: 0.8s;
    left: -108px;
    top: 56px;
  }
  .navItems.show li.two a {
    font-size: 30px;
    transition: 0.8s;
  }
  .navItems.show li.three {
    transition: 0.8s;
    left: -32px;
    top: 124px;
  }
  .navItems.show li.three a {
    font-size: 30px;
    transition: 0.8s;
  }
}



@media (max-width: 660px) {
  .heroText {
    justify-content: center;
    padding-right: 22px;
  }
  .heroText h1 {
    font-size: 3rem;
    padding-bottom: 0;
  }
  .heroText p {
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
  }

  .form form div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form form input#email, .form form input#fName {
    width: 110%;
  }
  .form form textArea {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .heroText {
    margin-top: calc(70% - 242px);
  }
  .heroText h1 {
    font-size: 2.2rem;
  }
  .heroText p {
    font-size: 2rem;
    padding-bottom: 26px;
  }
  .navItems li {
    left: 40px;
  }
}
@media (max-width: 360px) {

  .heroText {
    padding-right: 0;
  }
  .heroText h1 {
    font-size: 2rem;
  }
  .navBar h2 {
    padding: 12px;
    font-size: 1.6rem;
  }
  .navItems {
    margin-right: -33px;
  }
  .navItems li {
    left: 10px;
  }
.projects i {
  display: none;
}
.projText div {
  padding-right: 122px;
}
.form form textarea {
  width: 95%;
}
.contact {
  background-color: #000;
}
}