html {
  line-height: 1.45;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

header {
  height: 730px !important;
}
header .wrapper {
  box-shadow: #FFB01F 0 18px;
}
header .headText {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 60px;
}
header .mainTitle {
  display: flex;
  flex-direction: column-reverse;
  height: 80%;
  padding-right: 82px;
}
header .mainTitle h1 {
  font-family: "Roboto Slab", serif;
  color: #E8E6E6;
  font-size: 6rem;
  margin: 0;
}
header .mainTitle p {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
  color: #FFB01F;
  margin: 0;
  padding: 0 58px 0 0;
  margin-top: -24px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.navBar h2 {
  font-size: 36px;
  font-family: "Permanent Marker", cursive;
  color: #FFB01F;
}
.navBar ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.navBar ul li {
  padding-left: 20px;
  font-size: 28px;
}
.navBar ul li a {
  font-family: "Roboto Slab", serif;
  color: #FFB01F;
  text-decoration: none;
}

header .wrapper {
  background-image: url(./Assets/verbruci_iceland_blackandwhite_5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}

.box {
  width: 290px;
  margin: 1rem;
  background-color: #FFB01F;
  background-size: contain;
  -webkit-clip-path: polygon(50% 0%, 75% 50%, 100% 100%, 0% 100%, 0% 0%, 50% 0%);
          clip-path: polygon(50% 0%, 75% 50%, 100% 100%, 0% 100%, 0% 0%, 50% 0%);
  padding-right: 40px;
  height: 90px;
}

body {
  background-color: #161712;
}

.about {
  display: flex;
  background: #161712;
  margin-top: 60px;
}
.about .aboutText {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}
.about .aboutText h3 {
  font-family: "Permanent Marker", cursive;
  color: #FFB01F;
  font-size: 40px;
  margin: 0;
}
.about .aboutText h3 .fas {
  color: #E8E6E6;
  padding: 0 14px;
}
.about .aboutText p {
  font-family: "Open Sans", sans-serif;
  color: #E8E6E6;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: bold;
  margin: 0;
  padding: 6px 24px;
}
.about .aboutPic {
  display: flex;
}
.about .aboutPic img {
  box-shadow: #FFB01F 0 18px;
  flex-direction: column;
  align-items: center;
  border-radius: 6%;
  width: 300px;
  margin-right: 40px;
}

.projects {
  display: flex;
  flex-direction: column;
}
.projects .projectContainer {
  display: flex;
  justify-content: space-between;
}
.projects .projectContainer div {
  max-width: 390px;
  min-width: 390px;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  text-align: center;
}
.projects .projectContainer div:hover {
  transform: translateY(-10px);
  border-radius: 4%;
}
.projects .projectContainer h4 {
  font-family: "Roboto Slab", serif;
  font-size: 34px;
  text-align: center;
  padding: 0 12px;
}
.projects .projectContainer h4 a {
  text-decoration: none;
  color: #FFB01F;
}
.projects .projectContainer img {
  border-radius: 4%;
  min-height: 140px;
  max-height: 140px;
  min-width: 190px;
  max-width: 190px;
}
.projects .projectContainer p {
  font-family: "Open Sans", sans-serif;
  color: #E8E6E6;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: bold;
  padding: 18px 50px;
}
.projects h3 {
  font-family: "Permanent Marker", cursive;
  color: #FFB01F;
  font-size: 40px;
}
.projects h3 .fas {
  color: #E8E6E6;
  padding: 0 12px;
}

.skills {
  padding: 2px 0;
}

.skillHead h3 {
  font-family: "Permanent Marker", cursive;
  color: #FFB01F;
  font-size: 40px;
}
.skillHead h3 .fas {
  color: #E8E6E6;
  padding: 0 12px;
}

.skillBox {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* We changed this property */
  gap: 40px;
}
.skillBox .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c2c2c;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.skillBox .icon:hover {
  border: 2px #FFB01F solid;
}
.skillBox .icon i {
  color: #FFB01F;
  font-size: 80px;
}

div.icon.iconPS i {
  font-size: 70px;
}

.contact {
  padding: 66px 0;
  display: flex;
  justify-content: space-around;
}
.contact div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact div a {
  color: #E8E6E6;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
}
.contact div a i {
  color: #E8E6E6;
  font-size: 40px;
  padding: 0 18px;
}/*# sourceMappingURL=style.css.map */